// colors

$red: #aa2e25;
$pink: #a31545;
$purple: #6d1b7b;
$deep-purple: #482880;
$blue: #1769aa;
$green: #357a38;
$yellow: #b2a429;

// break points
$break-mobile: 425px;

// list colors
$colors: $red, $pink, $purple, $deep-purple, $blue, $green, $yellow;
